
@{
    ViewBag.Title = "Domains";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">Domains</h4>
    </div>
</div>
<div class="pull-right">

    <button type="button" class="btn btn-custom btn-rounded">New Domain</button>
</div>
<div>

    <table class="table table-striped m-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Domain Name</th>
                <th>Reg Date</th>
                <th>Renewal Date</th>
                <th>Cost</th>
                <th>Domain At</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>traveka.com</td>
                <td>05-04-2016</td>
                <td>05-04-2018</td>
                <td>800</td>
                <td>Hostingindia</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>rentingavenue.com</td>
                <td>25-06-2015</td>
                <td>25-06-2017</td>
                <td>650</td>
                <td>Godaddy</td>
                <td>Active</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
                <td>Otto</td>
                <td>Godaddy</td>
                <td>@@mdo</td>
                <td>

                    <button class="btn btn-icon btn-danger"> <i class="fa fa-remove"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

