
@{
    ViewBag.Title = "NewDomain";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="header-title m-t-0 m-b-20">New Domain</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Domain Name</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Domain Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Register  Date</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Register Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Renewal Date</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Enter Renewal Date">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-email">Domain Cost</label>
                        <div class="col-md-8">
                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Enater Domain Cost">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-email">Domain At</label>
                        <div class="col-md-8">
                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Enater Domain At">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Domain Other Details</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-8">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>



    </div>
</div>

